*{  margin: px;
    padding: px;
    box-sizing: border-box;
}

body{
    background-color: #ccdcf5;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 22px;
}

.card__img{
    width: 92%;
    border-radius: 10px;
}

.card__title{
    text-align: center;
    margin-bottom: 0px;
}

.card__parrafo{
    text-align: center;
    color: rgb(80, 80, 80);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 425px) {
    .card{
        width: 90%;
    }

    .card__title{
        font-size: 1.2rem;
    }

    .card__parrafo{
        font-size: 0.9rem;
    }
    
}